h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    text-align: center;

}

.frontpicture span {
    border-radius: 50%;
    border: 2px solid;
    background-color: white;
    color: black;
    display: flex;
    min-height: 80px;
    min-width: 300px;
    justify-self: center;
    background-image: url(Pictures/DreamTeam/DreamTeam_props3D.jpg);
    display: block;
    text-align: center;
}
.frontpicture span p{
    position: relative;
    align-items: center;
    font-size: large;
    color: rgb(0, 0, 0);
    align-content: center;
    padding: 3%;
    height: auto;
    margin: 0%;
}

.frontpicture {
    background-image: url(Pictures/website/Test_website.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-content: center;
    height: 40%;
    
}

.projects-canvas {
    position: relative;
    background-color: #000000;
}

.projects-canvas button{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    border-color: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
    border-style: groove;
    border-style: solid;
    border-radius: 10px;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-size:large;
    min-width: 100px;
    background-repeat: no-repeat;
    
}

.contact {
    height: 10%;
    background-color: rgb(255, 255, 255);
    width: auto;
    display: flexbox;
    text-align: center;
    color: rgb(0, 0, 0);
}

.contact h1{
    font-size: xx-large;
    color: black;
}

.about {
    height: 20%;
    width: auto;
    background-color: rgb(234, 230, 221);
    text-align: left;
    display: block;
    font-size: large;
    color: black;
    
    
}

.about h1{
    font-size: xx-large;
    color: black;
    text-align: center;
}

.contact-header{
    display: inline-flex;
    align-items: center;
}
.contact-action{
    display: flex;
    background-color: rgb(255, 255, 255);
}

.contact-icon-link{
    display: block;
   box-sizing: content-box;
   line-height: 2px;
   height: 30px;
   width: 30px;
   padding: 5px;
}

.contact-icon-image{
    height: 100%;
    width: 100%;
object-fit: cover;

}

body {
    color: white;
    height: 100%;
    margin: 0%;
}

.page {
    height: 70%;
    width: 100%;
}

html{ height: 2000px;
width: auto;
background-color: rgb(0, 0, 0);
}

p{
    margin: 15px;
}

